<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso</title>
    {% load static %}  
    <link rel="stylesheet" href="{% static 'css/styles.css'%}"/>
    <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>
</head>
<body>
    <header>
      <div id="carnet">{{usuario.name}}</div>
      <div id="carnet">{{usuario.carne}}</div>
      <div id="carnet">{{nombre}}</div>
    </header>
    
    <section>
      <nav>
        <a href="sync_data">Sincronizar</a>
        <ul>
          <li><a href="crear_foro">Crear Foro</a></li>
          <li><a href="">Exportar Curso</a></li>
        </ul>
      </nav>
      <main>    

        <h1>Crear nuevo foro</h1>
        <form action="{% url 'registrar_foro' token_curso=token_curso %}" method="post">
          {% csrf_token %}     
            <label for="titulo_foro">Descripción:</label><br>
            <textarea id="titulo_foro" name="titulo_foro" rows="4" cols="50"></textarea><br>
            <label for="comentario">Primer comentario:</label><br>
            <textarea id="comentario" name="comentario" rows="4" cols="50"></textarea><br><br>
            <button onclick = "history.back()" > Crear Foro</button>
            <button type="submit" style="margin-right: 10;">
            <input type="hidden" name="creador_foro" value="{{usuario.carne}}">
            
          </form>
      </form>    
    </main>   

    </body>
</html>