<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso</title>
    {% load static %}  
    <link rel="stylesheet" href="{% static 'css/styles.css'%}"/>
    <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>

</head>
<body>
    <div class="nav">
      <input type="checkbox" id="nav-check">
      <div class="nav-header">
        <div class="nav-title">
          <img src="" alt="Logo">
        </div>
      </div>
      <div class="nav-btn">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>
      
      <div class="nav-links">
      
      
        
      {% if usuario.carne == curso.votan  %} <! ––« Verificacion si el carne del usuario es el mismo del votan con esto se activan las funciones adicionales«––>
      <a href="upload" target="_blank">Reportes</a>
      <a href="upload" target="_blank">Asignaciones</a>
      <a href="cargar_archivo" target="_blank">Material</a>
      <a href="crear_foro" target="_blank">Crear Foro</a>
      {% else %}
      <a href="upload" target="_blank">Calificaciones</a>
      {% endif %}
        

        <button class="boton">
          Exportar
        </button>
        
      </div>
  </div>
    <header>
      <div class="text">
        {{ usuario.carne }}
        <img class="img" src="{% static 'images/' %}{{ selected_image }}" alt="Imagen seleccionada" style="width: 2rem; ">
    </div>
      <div id="carnet">{{usuario.name}}</div>
      <div id="carnet">{{usuario.carne}}</div>
      <div id="carnet">Nombre del Curso: {{curso.nombre_curso}}</div>
      {{curso.votan}}
    </header>
    
    <section>
      <nav>
        <a href="sync_data">Sincronizar</a>
        <ul>
          <li><a href="crear_foro">Crear Foro</a></li>
          <li><a href="">Exportar Curso</a></li>
        </ul>
      </nav>
      
      <section>
        <h2>Foros del curso</h2>
        {% if foros %}
            <ul>
                {% for foro in foros %}
                    <li>
                        <a href="{% url 'foro' token_curso foro.id %}">
                            {{ foro.titulo }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No hay foros disponibles para este curso.</p>
        {% endif %}
    </section>
    

    </body>
</html>